fastapi==0.115.0
uvicorn[standard]==0.30.6
langchain
langchain_community
langchain_core
python-dotenv
langchain-huggingface
langchain-qdrant
langchain-ollama
unstructured[pdf]
onnx==1.16.1
qdrant-client
pdfminer.six==20201018